.DiaryEditor{
  border: 1px,solid grey;
  text-align: center;
  padding: 28px;
}

.DiaryEditor input,textarea{
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/*list : DiaryList /DiaryItem / info / date / content*/

.DiaryList {
  border: 1px solid grey;
  padding: 20px;
  margin: auto;
  width: 700px;
}

.DiaryList h2{
  text-align: center;
}

.DiaryList h4 {
  text-align: right;
}
.DiaryList span{
  display: block;
}

.DiaryItem {
  border: 1px solid grey;
  background-color: beige;
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  color: grey;
}

.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}